.sidebar {
  width: 250px;
  background-color: #ffffff;
  color: rgb(150, 149, 149);
  height: 100vh;
  position: sticky;
  top: 0;
}

.sidebar-header {
  padding: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-header h1 {
  margin: 0;
  font-size: 1.5rem;
  color: aqua;
}
.sidebar-header strong {
  color: rgb(95, 141, 160);
}

.sidebar-nav {
  padding: 20px 0;
}

.nav-section h3 {
  padding: 0 20px 10px;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: rgba(27, 27, 27, 0.5);
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav li {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.sidebar-nav li:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: black;
}

.sidebar-nav li.active {
  background-color: #dcf0fd;
  color: black;
}

.sidebar-nav svg {
  margin-right: 10px;
}
